body{
    background-color: aliceblue
},99)
h1{
    font-size: 60px;
    color: black;
    text-align:center:
}
p{
    font-size: 30px;
    color: black
    text-align: justify;
}
img{
    width: 450kpx;
    height:360px;px;
    margin: 30px;
    margin-left: 130px;
}
